/* ,를 이용하여 선택자를 나열 하면 같은 스타일을 지정 */
#actionTest, #hoverTest{
    width: 100px;
    height: 100px;
    background-color: greenyellow;
}

/* 사용자가 요소를 클릭히면 색상을 변경 */
#actionTest:active{
    background-color: green;
}

#hoverTest:hover{
    background-color: green;
}

/* 체크박스가 체크되면 */
input[type=checkbox]:checked{
    width: 20px;
    height: 20pz;
}

/* 체크박스가 체크되면 형제요소 라벨을 선택 */
input[type=checkbox]:checked+label{
    font-size: 1.5em;
}

#userId:focus, #userPwd:focus{
    background-color: #ccc;
}

option:enabled{
    background-color: pink;
}

/* 사용 불가능 상태 */
option:disabled{
    background-color: #666666;
}

button:disabled{
    background-color: #333;
}

/* 형제 관계중 첫번째 요소를 선택 */
#test2 p:first-child{
    background-color: red;
    color: white;
}

/* 형제 관계중 마지막 요소를 선택 */
/* 마지막 자식이 p태그가 아니므로 스타일이 지정 되지 않는다 */
#test2 p:last-child{
    background-color: orange;
    color: white;
}

#test2 p:nth-child(2){
    background-color: red;
    color: white;
}

/* 수식을 사용하거나 수식 대신 odd(홀수), even(짝수)를 대입해 줄 수 있다. */
#test2 p:nth-child(even){
    background-color: #ccc;
    color: white;
}

/* 뒤에서 몇번째선택 */
#test2 p:nth-last-child(4){
    background-color: skyblue;
}

/* 형제구조선택자 */
#test3 p:first-of-type{
    background-color: red;
    color: white;
}

#test3 p:last-of-type{
    background-color: orange;
    color: white;
}

#test3 p:nth-last-of-type(2n){
    background-color: #666666;
}

#test3 p:nth-of-type(4){
    background-color: skyblue;
}

/* 부정 선택자 */
#test4 p:not(:nth-child(even)){
/* #test4 p:not(:nth-of-child(even)){ */
    background-color: red;
}