.trans-test {
    width: 250px;
    height: 200px;

    /* 위치를 지정하기 위해서 포지션 속성을 설정 */
    position: relative;
    left: 50px;

    /* 
        웹 요소의 스타일 속성이 조금씩 자연스럽게 바뀌도록 함

        기본값
        all  : 요소의 모든 속성
        ease : 처음에는 천천히 빨라지다가 끝날때 천천히
     */
    transition: 1s;
}

/* 아이디가 trans1 요소에 마우스가 올라온 상태 라면 */
/* transform : 특정 요소의 크기나 형태등 스타일이 바뀌는것 */
#trans1:hover{
    /* 음수 왼쪽으로 이동 양수 오른쪽으로 이동 */
    /* transform: translateX(-50px); */
    transform: translateX(50px);
}

#trans2:hover{
    /* 음수 위쪽으로 이동 양수 아래쪽으로 이동 */
    /* transform: translateY(-50px); */
    transform: translateY(50px);
}

#trans3:hover{
    transform: translate(50px,50px);
}

#trans4:hover{
    /* 확대/축소 */
    transform: scaleX(2);
    /* transform: scaleX(0.2) */
}

#trans5:hover{
    /* 확대/축소 */
    transform: scaleY(2);
     /* transform: scaleY(0.2) */
}

#trans6:hover{
    /* 확대/축소 */
    transform: scale(2,2);
     /* transform: scale(0.2,0.2) */
}

#trans7:hover{
    /* 각도만큼 회전 */
    transform: rotate(45deg);
}

#trans8:hover{
    /* 각도만큼 회전 */
    /* 양수는 오른쪽으로 회전 음수는 왼쪽으로 회전 */
    transform: rotate(-45deg);
}

#trans9:hover{
    /* 중심축을 가운데로 */
    transform-origin: center center;
    /* 각도만큼 회전 */
    /* 양수는 오른쪽으로 회전 음수는 왼쪽으로 회전 */
    transform: rotate(-45deg);
}

#trans10:hover{
    /* 중심축을 왼쪽 위로 */
    transform-origin: left top;
    /* 각도만큼 회전 */
    /* 양수는 오른쪽으로 회전 음수는 왼쪽으로 회전 */
    transform: rotate(-45deg);
}