
/* 구글 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

#ff1{
    font-family: "궁서체";
}
#ff2{
    font-family: "굴림체";
}
/*
글꼴이 없는 경우를 대비해서
 ,를 이용해서 여러글꼴을 나열 할수 있음*/
#ff3{
    font-family: "없는글꼴", "궁서>ㅇ<", "고딕";
}

/* 웹폰트 */
h1{
    color: lightcoral;
    /* 글꼴 */
    font-family: 'Gugi', cursive;
}

.web-font{
    font-family: 'Gugi', cursive;
}

#size1{
    font-size: 16pt;
}

#size2{
    font-size: 2em;
}

#size3{
    font-size: 150%;
}

#fw1{
    font-weight: bold;
}

#fw2{
    font-weight: lighter;
}

#fw3{
    font-weight: 900;
}
#fv{

    /*  
        small-caps : 소문자를 대문자로(소문자 크기의) 바꿉니다
        nomal  : 바꾸지 않음
    */
    font-variant: small-caps;
}

#fs1{
    font-style: italic;
}

#fs2{
    font-style: oblique;
}

#c-name{
    /*
        이름으로 지정
        웹 안전 색상
        모든 웹 브라우저에서 표현할 수 있는 색상
        16가지 기본색상을 포함 216가지
    */
    color : red;
}

#c-16{
    /*
        #과 16진수 자리를 합쳐서 색상을 표현
        앞에서 부터 2자리씩 묶어 빨강,초록,파랑 색상의 양을표시
        (중복된 숫자인경우 3자리로 표연 가능 #000000 -> #000)
    */
    background-color: #000;
    color: #fff;
}

#c-rgb{
    /*
        빨강 초록 파랑의 양을 0~225까지의 수로 표현
    */
    color: rgb(5, 255, 242);
}

#c-rgba{
    /*
        a : 투명도
        0 ~ 1까지
        0: 투명 1:불투명
    */

    /*
        hsl 방식
        색상(hue), 채도(saturation), 밝기(light)
    */
    color: rgba(5, 255, 242, 0.5);
    background-color: hsl(56, 97%, 70%);
}

#td-none{
    text-decoration: none;
}

#td-underline{
    text-decoration: underline;
}

#td-overline{
    text-decoration: overline;
}

#td-line-through{
    text-decoration: line-through;
}

li{
    padding: 20px;
    /* 선의 두께, 선 스타일, 색상 */
    border:  1px dotted #000;;
}

a{
    text-decoration: none;
    color: #666;
    font-size: 1.5em;
}

#ts1{
    font-size: 1.5em;
    font-weight: 900;
    color: blueviolet;
    text-shadow:  3px 3px 3px black;
}

#ts2{
    font-weight: 900;
    text-shadow:  -10px -10px 1px red;
}

#ts3{
    font-size: 1.5em;
    text-shadow: 10px 10px 5px blue;
}

#tt1{
    text-transform: none;
}

#tt2{
    text-transform: capitalize;
}

#tt3{
    text-transform: uppercase;
}

#tt4{
    text-transform: lowercase;
}

.lh1{
    font-size: 1em;
    line-height: 1em;
    text-align: left;
}

.lh2{
    font-size: 1em;
    line-height: 2em;
    text-align: right;
}

.lh3{
    font-size: 1em;
    line-height: 3em;
    text-align: center;
}

.lh4{
    font-size: 1em;
    line-height: 4em;
    text-align: justify;
}

table{
    /* 캡션의 위치 (기본 : 탑)*/
    caption-side: bottom;
    border: 1px solid lightgreen;
    /* 테두리를 한줄로 표시*/
    border-collapse: collapse;
}

tr, td{
    border: 1px dotted lightgreen;
    padding: 10px;
}